
* {
    font-family: "Bahnschrift", "Arial";
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    min-height: 100vh;
    width: 100vw;
}

.flex {
    width: 100%;
    display: flex;
}

.flex-right {
    margin-left: auto;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 1rem;
}
