*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
  }

body{


background-image: linear-gradient(rgba(97, 103, 196, 0.75),rgba(0, 0, 0, 0.75)), url(jo.png) ;
background-size: cover;
background-position: center;


}



.menu{

list-style-type: none ;
height: 100%;
width: 300px;
position: fixed;
background-color: rgb(255, 255, 255);
border-radius: 0 30px 30px 0;
list-style-type: none;
margin: 0;
padding: 0;
overflow: auto;
}




.img1{
 
border-top-right-radius: 30px;
height: 200px;
width: 300px;

}



.prof{
    
    margin-left:20%;
   
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    
    padding: 0;

    
}

.prof > div{
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid black;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;

}

.imgp{
    margin-top: 2vh;
position: relative;
height: 10vh;
width: 10vh;
box-sizing: border-box;
}

.flex{

display: flex;

}

.lewa{
width: 35%;
margin-top: 5%;
margin-left: 5px ;
background-color: cyan;
border: solid 5px rgb(165, 159, 159);
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
text-align: center;
height: 80%;

}

.lewa p {

font-size: 15px ;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.prawo {
width: 65%;
background-color: lightblue;
border-radius: 30px ; 
font-size: 15px;

}

.info {

  color: #353c4e;
  margin-bottom: 5px;

}

.poczta p, .data p, .pro p{
  overflow: auto;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
  color: #000000;
  background-color: white;
  width: 70%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  

}




.btn {
  height: 100px;
  width: 100%;
  display: block;
  padding: 40px ;
  position: relative;
  background: transparent;
  border: 4px solid cyan;
  font-weight: 600;
  font-size: 1.2rem;
  
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  color: #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: color 200ms;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: '';
  background-color: cyan;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  transition: transform 500ms;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn-slide-left::before {
  transform: scaleX(0);
}

.btn-slide-left:hover::before {
  transform: scaleX(1);
}
